@use "../mixins/" as *;
@use "../utils/breakpoints" as *;

.footer {
  background-color: var(--color-black);
  padding-block: 3rem;

  &__container {
    @include constrain;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;

    @media (max-width: $bp-1) {
      grid-template-columns: 1fr;
      gap: 2rem;
      justify-items: center;
    }
  }

  &__logo {
    width: 9rem;
  }

  &__socials {
    justify-self: end;
    display: flex;
    gap: 1rem;
    list-style-type: none;

    @media (max-width: $bp-1) {
      justify-self: center;
    }

    @media (max-width: $bp-4) {
      order: 1;
    }
  }

  &__social {
    a {
      padding-bottom: 0.25rem;
      border-bottom: 2px solid transparent;
      transition: all 0.2s;
      &:hover {
        border-bottom: 2px solid var(--color-white);
      }
    }
  }

  &__copyright {
    justify-self: end;
    color: var(--color-gray-2);
    font-size: var(--fs-1);

    @media (max-width: $bp-1) {
      justify-self: center;
      margin-top: 3rem;
    }

    @media (max-width: $bp-4) {
      margin-top: 0;
      order: 2;
    }
  }

  nav {
    @media (max-width: $bp-4) {
      ul {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
